BNFO 285 HW4 Problem 1 Notebook Kanishk Asthana kasthana@eng.ucsd.edu
=====================================

Reading in Values from the Homework problem to create matrices T1 and T2

In [1]:
t1Values=c(0.00, 0.30, 0.45, 0.30, 0.60, 0.30 ,0.00 ,0.35, 0.4, 0.50, 0.45, 0.35, 0.00, 0.55, 0.35, 0.30, 0.40, 0.55, 0.00, 0.70, 0.60, 0.50, 0.35, 0.70, 0.00)
t2Values=c(0.00, 0.15, 0.2, 0.15, 0.30, 0.15, 0.00, 0.20, 0.2, 0.25, 0.20, 0.20, 0.00, 0.25, 0.30, 0.15, 0.20, 0.25, 0.00, 0.40, 0.30, 0.25, 0.30, 0.40, 0.00)
T1=matrix(t1Values,ncol=5,nrow=5)
T2=matrix(t2Values,ncol=5,nrow=5)
leaves=c('a','b','c','d','e')
colnames(T1)=leaves
rownames(T1)=leaves
colnames(T2)=leaves
rownames(T2)=leaves
print("T1")
T1
print("T2")
T2

[1] "T1"

     a    b    c    d    e
a 0.00 0.30 0.45 0.30 0.60
b 0.30 0.00 0.35 0.40 0.50
c 0.45 0.35 0.00 0.55 0.35
d 0.30 0.40 0.55 0.00 0.70
e 0.60 0.50 0.35 0.70 0.00

[1] "T2"

     a    b    c    d    e
a 0.00 0.15 0.20 0.15 0.30
b 0.15 0.00 0.20 0.20 0.25
c 0.20 0.20 0.00 0.25 0.30
d 0.15 0.20 0.25 0.00 0.40
e 0.30 0.25 0.30 0.40 0.00

The following combinations of leaves are quartets:

In [2]:
print("Each column is a quartet:")
quartets=combn(leaves,4)
quartets

[1] "Each column is a quartet:"

     [,1] [,2] [,3] [,4] [,5]
[1,] "a"  "a"  "a"  "a"  "b"
[2,] "b"  "b"  "b"  "c"  "c"
[3,] "c"  "c"  "d"  "d"  "d"
[4,] "d"  "e"  "e"  "e"  "e"

Generating Leaves of Potential Trees created using each of the Quartets in the previous Matrix one at at time

In [20]:
testAdditivity=function(distanceMatrix,quartets){
    apply(quartets,2,testFourPointCondition,distanceMatrix)
}

testFourPointCondition=function(quartet,distanceMatrix){
    d1=distanceMatrix[quartet[1],quartet[2]]+distanceMatrix[quartet[3],quartet[4]]
    d2=distanceMatrix[quartet[1],quartet[3]]+distanceMatrix[quartet[2],quartet[4]]
    d3=distanceMatrix[quartet[1],quartet[4]]+distanceMatrix[quartet[2],quartet[3]]
    fourPointConditions=c(   ((d1<d2)&&(d2==d3)),   ((d2<d1)&&(d1==d3)),   ((d3<d2)&&(d2==d1))   )
    return(sum(fourPointConditions)>0)
}

testAdditivity(T1,quartets)

[1]  TRUE  TRUE  TRUE  TRUE FALSE